@import models._

@(title: String, menu: String, constant: Constant)

@bootstrap(title)(menu)(constant) {
  <div class="order_create">
    <form class="form-horizontal" role="form" action="/order/create" method="POST">
      <div class="form-group">
        <label for="InputName" class="col-sm-2 control-label">收件人</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="name" placeholder="姓名" required>
        </div>
      </div>

      <div class="form-group">
        <label for="Inputstate" class="col-sm-2 control-label">省</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="state" placeholder="省" required>
        </div>
      </div>

      <div class="form-group">
        <label for="Inputcity" class="col-sm-2 control-label">市</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="city" placeholder="市" required>
        </div>
      </div>

      <div class="form-group">
        <label for="Inputstate" class="col-sm-2 control-label">区</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="area" placeholder="区" required>
        </div>
      </div>

      <div class="form-group">
        <label for="Inputstate" class="col-sm-2 control-label">街道</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="street" placeholder="街" required>
        </div>
      </div>

      <div class="form-group">
        <label for="Inputstate" class="col-sm-2 control-label">邮编</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="zip" placeholder="邮编" required>
        </div>
      </div>

      <div class="form-group">
        <label for="Inputstate" class="col-sm-2 control-label">手机</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="phone" placeholder="手机" required>
        </div>
      </div>

      <div class="form-group">
        <label for="Inputstate" class="col-sm-2 control-label">物品</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" name="memo" placeholder="物品" required>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default">提交</button>
        </div>
      </div>
    </form>
  </div>
}
