@import models._

@(order: Order, user:User, assist:User, constant:Constant)

<table class="table table-bordered table-responsive">
  <tbody>
    <tr>
      <th>订单号</th>
      <td><a href="/order/@order.id">@order.id</a></td>
    </tr>
    <tr>
      <th>状态</th>
      <td>@constant.status(order.status)._2</td>
    </tr>
    @if(user != null) {
      <tr>
        <th>用户</th>
        <td>@user.email</a></td>
      </tr>
    } else {}
    <tr>
      <th>收件人</th>
      <td>@order.name</td>
    </tr>
    <tr>
      <th>电话</th>
      <td>@order.phone</td>
    </tr>
    <tr>
      <th>省</th>
      <td>@order.state</td>
    </tr>
    <tr>
      <th>市</th>
      <td>@order.city</td>
    </tr>
    <tr>
      <th>县</th>
      <td>@order.area</td>
    </tr>
    <tr>
      <th>街道</th>
      <td>@order.street</td>
    </tr>
    <tr>
      <th>邮编</th>
      <td>@order.zip</td>
    </tr>
    <tr>
      <th>备注</th>
      <td>@order.memo</td>
    </tr>
    <tr>
      <th>运单</th>
      <td>
        @(order.ship, order.track) match {
          case (Some(ship), Some(track)) => {
            <span id="track-@order.id">@{track}</span>
            (<a href="@constant.ship(ship)._2(track)" target="_blank">
              @constant.ship(ship)._1
            </a>)
          }
          case _ => {
          }
        }
      </td>
    </tr>
    <tr>
      <th>创建时间</th>
      <td>@order.created</td>
    </tr>
    <tr>
      <th>最后更新</th>
      <td>@order.updated</td>
    </tr>
  </tbody>
</table>
