@import models._

@(status:Int, base:String, constant:Constant)

<ul class="nav nav-tabs">
  @for( s <- constant.status ) {
    <li @if(status == s._1) {class="active"}>
      <a href="@{base}/@{s._3}">@{s._2}</a>
    </li>
  }
</ul>
