@import models._

@(order: Order, user:User, assist:User, constant:Constant)

<div id="content">
  <ul id="order_editor_tabs" class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#default" data-toggle="tab">订单管理</a></li>
    <li><a href="#ship" data-toggle="tab">订单发货</a></li>
    <li><a href="#3rd-party" data-toggle="tab">第三方填单</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="default">
      <h1>订单管理</h1>
      <p></p>
    </div>

    <div class="tab-pane" id="ship">
      <h1>订单发货</h1>
    </div>

    <div class="tab-pane" id="3rd-party">
      <h1>第三方填单</h1>
      <p>以下链接将自动复制地址信息，并跳转至第三方物流公司。</p>
      @order.track match {
        case Some(track) => {}
        case None => {
          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" id="sto-button">申通填单</button>
            </div>
          </div>
          <hr/>
        }
      }

      <script src="/assets/javascripts/ZeroClipboard.js"></script>
      <script type="text/javascript">
      $( document ).ready(function() {
        var client = new ZeroClipboard( document.getElementById("sto-button") );
        client.on( "ready", function( readyEvent ) {
          client.on( "copy", function (event) {
            event.clipboardData.setData( "text/plain", JSON.stringify({
              name: $("#name").text(),
              phone: $("#phone").text(),
              state: $("#state").text(),
              city: $("#city").text(),
              area: $("#area").text(),
              street:$("#street").text(),
              zip: $("#zip").text(),
              memo: "http://kaixindeal.com/order/" + $("#id").text()
            }));
            window.open("https://account.stoexpress.us/member/stoYundanAdd_KD.aspx?m=16", '_blank');
          });
        });
      })
      </script>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function ($) {
  $('#order_editor_tabs').tab();
});
</script>
