@import models._

@(title: String, menu: String, constant: Constant)(orders: Seq[Order], page:Long, status:Int)

@bootstrap(title)(menu)(constant) {
  @order_list_menu(status, "/order/status", constant)
  <div class="order-list">
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
          <th>订单号</th>
          <th>收件人</th>
          <th>运单</th>
          <th>状态</th>
          <th>备注</th>
        </tr>
      </thead>
      <tbody>
        @for(order <- orders){
          <tr>
            <td><a href="/order/@order.id">#@order.id</a></td>
            <td>@order.name</td>
            <td>
              @(order.ship, order.track) match {
                case (Some(ship), Some(track)) => {
                  <span id="track-@order.id">@{track}</span>
                  (<a href="@constant.ship(ship)._2(track)" target="_blank">
                    @constant.ship(ship)._1
                  </a>)
                }
                case _ => {
                }
              }
            </td>
            <td>@constant.status(order.status)._2</td>
            <td>@order.memo</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  @(status) match {
    case 0 => {
      @order_list_pager(orders, page, constant, "/admin/order/status/unconfirmed/")
    }
    case 1 => {
      @order_list_pager(orders, page, constant, "/admin/order/status/confirmed/")
    }
    case 2 => {
      @order_list_pager(orders, page, constant, "/admin/order/status/shipped/")
    }
    case 3 => {
      @order_list_pager(orders, page, constant, "/admin/order/status/closed/")
    }
    case _ => {
      @order_list_pager(orders, page, constant, "/admin/order/status/all/")
    }
  }
}
