@import models._

@(orders: Seq[Order], page:Long, constant: Constant, base: String)

<ul class="pager">
  @if( page <= 0 ) {
    <li class="previous disabled"><a href="#">上一页</a></li>
  } else {
    <li class="previous"><a href="@{base + (page - 1)}">上一页</a></li>
  }
  @if( orders.length >= constant.orders_per_page ) {
    <li class="next"><a href="@{base + (page + 1)}">下一页</a></li>
  } else {
    <li class="next disabled"><a href="#">下一页</a></li>
  }
</ul>
