@import models._

@(title: String, menu: String, constant: Constant)(message: String, action: String, button: String)

@bootstrap(title)(menu)(constant) {
  <div class="container">
    <form class="form-signin" action="@action" method="post">
      <h2 class="form-signin-heading">@message</h2>
      <label for="inputEmail" class="sr-only">邮箱</label>
      <input type="email" name="email" class="form-control" placeholder="邮箱" required autofocus>
      <label for="inputPassword" class="sr-only">密码</label>
      <input type="password" name="password" class="form-control" placeholder="密码" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit">@button</button>
    </form>
  </div> <!-- /container -->
}
