@import models._

@(title: String, menu: String, constant: Constant)(users: Seq[User])

@bootstrap(title)(menu)(constant) {

  @for(user <- users){
    <div class="user">
        <p>@user.id @user.permission @user.email</p>
    </div>
  }

}
